:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    
    --font:"Space Mono", serif;
}

@media (max-width: 480px) {
    body {
        min-height: 100vh;
        gap: 15px;
        margin-top: 5%;
    }

    .logo_spli img {
        width: 100%;
    }

    .mother_container {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 30px;
    }

    .input-bill p {
        color: var(--Dark-grayish-cyan);
        font-size: 1rem;
    }

    .inpt-bill {
        height: 12px;
        background-size: 0.6rem;
        background-position: 15px;
        padding: 15px;
    }

    .desconto {
        padding: 20px 0 15px 0;
    }

    .desconto p {
        color: var(--Dark-grayish-cyan);
        font-size: 1rem;
    }
    .select_tip {
        grid-template-columns: repeat(2, 142px);
        gap: 15px;
    }

    label {
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 1.4rem;
    }

    .custom_css {
        height: 45px;
        font-size: 1.4rem;
    }

    .two_child {
        border-radius: 15px;
    }

    .result_container {
        gap: 20px;
    }

    .input_people p {
        color: var(--Dark-grayish-cyan);
        font-size: 1rem;
    }

    .css_input {
        height: 12px;
        background-size: 0.6rem;
        background-position: 15px;
        padding: 15px;
    }

    .reset {
        margin-top: 20px;
    }

    .attribution {
        font-size: 0.7rem;
    }
}