:root {
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);

--font:"Space Mono", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    unicode-bidi:normal;
}

body {
    background-color: var(--Light-grayish-cyan);
    min-height: 100vh;
    display: flex;
    gap: 65px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_spli img {
    width: 75%;
}

.mother_container {
    background-color: var(--White);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 25px;
    border-radius: 10px;
    font-family: var(--font);
}

.one_child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.input-bill {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-bill p {
    color: var(--Very-dark-cyan);
    font-weight: 600;
    font-size: 0.9rem;
}

.inpt-bill {
    background: url("./images/icon-dollar.svg") var(--Very-light-grayish-cyan) no-repeat;
    background-size: 0.8rem;
    background-position: 10px;
    text-align: right;
    height: 35.6px;
    border: none;
    border-radius: 5px;
    color: var(--Very-dark-cyan);
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 600;
    outline: none;
}

.inpt-bill:focus {
    border: 2px solid var(--Strong-cyan);
}

.desconto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
}

.desconto p {
    color: var(--Very-dark-cyan);
    font-weight: 600;
    font-size: 0.9rem;
}

.select_tip {
    display: grid;
    grid-template-columns: repeat(3, 96px);
    gap: 15px 20px;
}

input[type="radio"] {
    display: none;
}

label {
    background-color: var(--Very-dark-cyan);
    padding: 4px 15px;
    border-radius: 3px;
    color: var(--Very-light-grayish-cyan);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

input[type="radio"]:checked + label{
    background-color: var(--Strong-cyan);
    color: black;
    transition: 0.3s ease;
}

.custom_css {
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 3px;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: var(--Very-dark-cyan);
    outline: none;

}


.custom_css:focus {
    border: 2px solid var(--Strong-cyan);
}


.custom_css::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; } 


.input_people {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_people p {
    color: var(--Very-dark-cyan);
    font-weight: 600;
    font-size: 0.9rem;
}

.css_input {
    background: url("./images/icon-person.svg") var(--Very-light-grayish-cyan) no-repeat;
    background-size: 0.8rem;
    background-position: 10px;
    text-align: right;
    height: 35.6px;
    border: none;
    border-radius: 5px;
    color: var(--Dark-grayish-cyan);
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 600;
    outline: none;
}

.css_input:focus {
    border: 2px solid var(--Strong-cyan);
}

.two_child {
    background-color: var(--Very-dark-cyan);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.result_container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 15px;
}

.head_result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.info h2 {
    color: var(--Very-light-grayish-cyan);
    font-size: 0.9rem;
}

.info p {
    color: var(--Strong-cyan);
    font-weight: 600;
    font-size: 0.7rem;
}

h3 {
    color: var(--Strong-cyan);
    font-size: 2rem;
}

button {
    border: none;
    height: 35px;
    border-radius: 3px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 1rem;
}



